h1 {
    color: #174333;
    font-family: 'Helvetica Neue', sans-serif;
    font-size: 80px;
    font-weight: bold;
    letter-spacing: -1px;
    line-height: 1;
    text-align: center;
}

.grid-item {
    font-size: 20px;
    text-align: center;
    grid-column: span 2;
}

.container .grid-item:nth-child(5n),
.container .grid-item:nth-child(5n-1) {
    grid-column: span 3;
}

@media screen and (max-width: 661px) {
    .container .grid-item:nth-child(5n),
    .container .grid-item:nth-child(5n-1) {
        grid-column: span 2;
    }
}

.container {
    margin-right: auto;
    margin-left: auto;
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    gap: 8px;
}

@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}

@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}

@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}

.test_box .inner {
    background: #333;
    display: block;
    overflow: hidden;
}

.test_box .inner .test_click {
    align-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, .1);
    color: #fff;
    display: flex;
    flex-wrap: wrap;
    height: 250px;
    mix-blend-mode: normal;
    text-align: center;
    text-decoration: none;
    transition: all 300ms ease;
}

.test_box .inner .test_click:hover {
    background-color: rgba(23, 67, 51, .5);
    mix-blend-mode: hard-light;
}

.flex_this {
    align-content: center;
    display: inherit;
    flex-wrap: inherit;
    height: auto;
    margin: 0;
    transition: all 300ms ease;
    width: 100%;
}

.test_box .inner .test_click:hover .flex_this {
    margin-top: -5px;
}

.test_title {
    display: block;
    font-weight: 700;
    margin: 0 0 20px;
    width: 100%;
}

.test_link {
    border: 2px solid #fff;
    display: inline-block;
    font-size: .7em;
    font-weight: 700;
    letter-spacing: .1em;
    margin: 0 auto;
    padding: 10px 30px;
    text-transform: uppercase;
}

.test_link:hover {
    background-color: #174333;
}

.box-01 .inner {
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
}

.box-01 {
    position: relative;
    min-height: 1px;
    transition: transform .2s;
}

@media only screen and (min-width: 768px) {
    .box-01 {
        width: 50%;
        float: left;
    }
}

@media only screen and (min-width: 992px) {
    .box-01 {
        width: 33.33333333%;
        float: left;
    }
}

